In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [5]:
teman = ['Aldi gunawan', 'nisti ragor', 'hahahah']

In [7]:
pd.Series(teman)

0    Aldi gunawan
1     nisti ragor
2         hahahah
dtype: object

In [8]:
type(teman)

list

In [9]:
pd.Series(teman)

0    Aldi gunawan
1     nisti ragor
2         hahahah
dtype: object

In [10]:
pd.Series(teman)

0    Aldi gunawan
1     nisti ragor
2         hahahah
dtype: object

In [11]:
usia = [17, 21, 22, 25]

In [12]:
pd.Series(usia)

0    17
1    21
2    22
3    25
dtype: int64

In [14]:
dataacak = [17, 'karawang', 18.5, {'kondisi': 100}]

In [15]:
pd.Series(dataacak)

0                  17
1            karawang
2                18.5
3    {'kondisi': 100}
dtype: object

In [16]:
temanakrab = {0 : 'Joni ',1: 'haha', 2: 'jijii'}

In [19]:
a = pd.Series(teman)
b = pd.Series(temanakrab)

In [20]:
a.equals(b)

False

In [21]:
type(teman)

list

In [24]:
pd.RangeIndex(start=5, stop=8, step=1)

RangeIndex(start=5, stop=8, step=1)

In [ ]:
listw

In [22]:
pd.Series(teman).index

RangeIndex(start=0, stop=3, step=1)